* {
  box-sizing: border-box
}
html, body {
  height: 100vh
}
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;

}
.about{
  color: rgb(192, 192, 197);
  margin: 0;
  padding: 0 10px 0 10px;
  /*border: 1px solid rgb(207, 243, 0);*/
  width: 100%;
  font-size: 1.35em;
  
    
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
  color: rgb(0, 217, 255);
	

}
generic-anchor:visited{
  color: rgb(0, 0, 0);
}
.generic-anchor:hover{
  color: rgb(255, 0, 106);
  box-shadow: 0 0.5em 0.5em -0.4em var(hover);
  transform: translateY(-0.25em);
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(255, 0, 0);
  line-height: 1;
}
  .box.box-solid{
margin-left: 0px ;
margin-right: 0px;
  }

.small-box.bg-blue p{
  color: rgb(209, 253, 255);
  /*border: 5px solid rgb(28, 8, 141);
  border-right: 5px solid gold;*/
  border-left: 15px;
  border-right: 15px;
  width: 100%;
  align-self: center;
}
.main-header .sidebar-toggle {
  font-family: fontAwesome, 'Font Awesome 5 Free';
  font-weight: 1000;
  border: 15px;
  align-self: center;
  border-top: 4px solid #3C8DBC;
  border-bottom: 4px solid;
  min-height: 100%;
}
.fa, .fas {
  font-weight: 900;
  padding-right: 5px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.small-box h3 {
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  color: rgb(255,255,255);

  
}

footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 0 0 0 10px;
  color: rgb(60, 141, 188);
  font: 2.5vw "Open Sans", sans-serif;
  font-weight:bolder;

}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1.5px solid rgb(158, 229, 225);
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 2.5em "Oswald", sans-serif;
  color: rgb(60, 141, 188)
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;

}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 2.5px solid rgb(158,229,225);
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: rgb(131, 131, 131)
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 968px) {
  .footer-list-header {
    font-size: 2.2em /* 8 DESÓES DEL*/
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.3em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 2em;/*AZUL*/
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-list-header {
    font-size: 2em;
  }
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 1.75em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 1.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}


.small-box h3 {
  font-size: 35px;
  font-weight: 700;
  white-space: nowrap;
  color: rgb(196, 218, 215);
  padding: 0;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
  color:black
}

.container-fluid {
padding: 0;
margin: 0;
}